test_wadls/mm.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 1.17.1 02/28/2013 12:47 PM"/>
    <grammars/>
    <resources base="http://localhost:8080/event/">
        <resource path="/api-docs">
            <method name="GET" id="resourceListing">
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="/{route: .+}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="route"/>
                <method name="GET" id="apiDeclaration">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/ping">
            <method name="GET" id="ping">
                <response>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>
        <resource path="/world">
            <method name="GET" id="sayHello">
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/admin/config">
            <method name="GET" id="getConfiguration">
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <method name="PUT" id="updateConfiguration">
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
    </resources>
</application>
