test_wadls/Solutions.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 1.11 12/09/2011 10:27 AM"/>
    <grammars/>
    <resources base="http://ba-dev35.corp.millennialmedia.com:9080/SolutionsWS/">
        <resource path="developer/developeroptions">
            <method id="getMMDevelopersOptions" name="GET">
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="clientcampaign/publisher">
            <resource path="/advertiser/io/{ioid}/parentcampaign">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ioid" style="template" type="xs:int"/>
                <method id="createParentCampaign" name="POST">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/advertiser/{advertiserid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="advertiserid" style="template" type="xs:int"/>
                <method id="getAdvertiser" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="updateAdvertiser" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="deleteAdvertiser" name="DELETE">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/advertiser/io/parentcampaign/{parentcampaignid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="parentcampaignid" style="template" type="xs:int"/>
                <method id="deleteParentCampaign" name="DELETE">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="getClientParentCampaign" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="updateParentCampaign" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{publisherid}/advertiser">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="publisherid" style="template" type="xs:int"/>
                <method id="getAdvertisers" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="createAdvertiser" name="POST">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/advertiser/{advertiserid}/io">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="advertiserid" style="template" type="xs:int"/>
                <method id="createIO" name="POST">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/advertiser/io/{ioid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ioid" style="template" type="xs:int"/>
                <method id="updateIO" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="deleteIO" name="DELETE">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/selfserveparentcampaign/advertiser/{advertiserid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="advertiserid" style="template" type="xs:int"/>
                <method id="createSelfServeParentCampaign" name="POST">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/selfserveparentcampaign/{parentcampaignid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="parentcampaignid" style="template" type="xs:int"/>
                <method id="getSelfServeParentCampaign" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="updateSelfServeParentCampaign" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="deleteSelfServeParentCampaign" name="DELETE">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="developer/publisher">
            <resource path="/{publisherid}/site">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="publisherid" style="template" type="xs:int"/>
                <method id="getSites" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="includeinactive" style="query" type="xs:boolean"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="createSite" name="POST">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/site/{siteid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="siteid" style="template" type="xs:int"/>
                <method id="getSite" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="deleteSite" name="DELETE">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="updateSite" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/site/{siteid}/placement">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="siteid" style="template" type="xs:int"/>
                <method id="getPlacements" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="createPlacement" name="POST">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/site/placement/{placementid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="placementid" style="template" type="xs:int"/>
                <method id="getPlacement" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="updatePlacement" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="deletePlacement" name="DELETE">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/site/placement/{placementid}/embedcode">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="placementid" style="template" type="xs:int"/>
                <method id="getPlacementEmbedCode" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/site/placement/{placementid}/embedcode/{codetypename}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="placementid" style="template" type="xs:int"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="codetypename" style="template" type="xs:string"/>
                <method id="getPlacementEmbedCodeByCode" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="clientcampaign/continent">
            <method id="getCountries" name="GET">
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/publishers/{publisherId}/profile">
            <resource path="/payment">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="publisherId" style="template" type="xs:int"/>
                <method id="getPublisherPaymentProfile" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="updatePublisherPaymentProfile" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="register">
            <resource path="/publisher">
                <method id="register" name="POST">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="requestHost" style="query" type="xs:string"/>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/confirmation">
                <method id="confirmRegistration" name="POST">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/confirmation/request">
                <method id="resendConfirmationNotice" name="POST">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="requestHost" style="query" type="xs:string"/>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/users">
            <resource path="/{username}/password">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="username" style="template" type="xs:string"/>
                <method id="setPassword" name="POST">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="setPasswordOld" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{username}/profile">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="username" style="template" type="xs:string"/>
                <method id="getProfile" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="updateUserProfile" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{username}/reports/basic">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="username" style="template" type="xs:string"/>
                <method id="getBasicReport" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="days" style="query" type="xs:int" default="7"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="excludeCategories" style="query" type="xs:string" default="none"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="clientId" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/user/advertiserobjects">
                <method id="getAdvObjects" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="status" style="query" type="xs:string" default="All"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="housead/publisher">
            <resource path="/advertiser/io/parentcampaign/{parentcampaignid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="parentcampaignid" style="template" type="xs:int"/>
                <method id="getParentCampaign" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="deleteParentCampaign" name="DELETE">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="updateParentCampaign" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{publisherid}/advertiser/io/parentcampaign">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="publisherid" style="template" type="xs:int"/>
                <method id="createParentCampaign" name="POST">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{publisherid}/advertiser/io/parentcampaign">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="publisherid" style="template" type="xs:int"/>
                <method id="getAllHouseAdCampaigns" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="report/performance/publisher">
            <resource path="/{publisherId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="publisherId" style="template" type="xs:int"/>
                <method id="getPerformanceReport" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="fromDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="toDate" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="developerreport">
            <method id="getAdvertiserReportJson" name="GET">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="indexId" style="query" type="xs:int"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="indexType" style="query" type="xs:string"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reportingUnit" style="query" type="xs:string"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="startDate" style="query" type="xs:string"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="endDate" style="query" type="xs:string"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="segment" style="query" type="xs:string"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataOnly" style="query" type="xs:boolean"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="dev">
            <resource path="/summaryreport/publisher/{publisherId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="publisherId" style="template" type="xs:int"/>
                <method id="getTableReportJson" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="platform" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="fromDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="toDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="adType" style="query" type="xs:string" default="All"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="page" style="query" type="xs:int" default="1"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="limit" style="query" type="xs:int" default="1000"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="orderBy" style="query" type="xs:string" default="earnings"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="asc" style="query" type="xs:string" default="desc"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="getTableReportCSV" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="platform" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="fromDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="toDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="adType" style="query" type="xs:string" default="All"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="orderBy" style="query" type="xs:string" default="earnings"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="asc" style="query" type="xs:string" default="desc"/>
                    </request>
                    <response>
                        <representation mediaType="text/csv"/>
                    </response>
                </method>
                <method id="getTableReportExcel" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="platform" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="fromDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="toDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="adType" style="query" type="xs:string" default="All"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="orderBy" style="query" type="xs:string" default="earnings"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="asc" style="query" type="xs:string" default="desc"/>
                    </request>
                    <response>
                        <representation mediaType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                    </response>
                </method>
                <method id="getTableReportAll" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="platform" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="fromDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="toDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="adType" style="query" type="xs:string" default="All"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="page" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="limit" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="orderBy" style="query" type="xs:string" default="earnings"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="asc" style="query" type="xs:string" default="desc"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="fmt" style="query" type="xs:string" default="json"/>
                    </request>
                    <response>
                        <representation mediaType="*/*"/>
                    </response>
                </method>
            </resource>
            <resource path="/summaryreportdaily/publisher/{publisherId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="publisherId" style="template" type="xs:int"/>
                <method id="getGraphReport" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="platform" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="fromDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="toDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="adType" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/summaryreportdaily/site/{siteId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="siteId" style="template" type="xs:int"/>
                <method id="getGraphReportForSite" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="fromDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="toDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="adType" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="role">
            <method id="getRoles" name="GET">
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="appstore">
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="id" style="template" type="xs:int"/>
                <method id="getAppStoreById" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{storeid}/app/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="id" style="template" type="xs:int"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="storeid" style="template" type="xs:int"/>
                <method id="getAppByStoreInfo" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/app/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="id" style="template" type="xs:int"/>
                <method id="getAppById" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="getAppByStoreInfoSite" name="POST">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="download" style="query" type="xs:boolean"/>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/app/screenshots/{appid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="appid" style="template" type="xs:int"/>
                <method id="updateAppScreenShots" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/app/{appid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="appid" style="template" type="xs:int"/>
                <method id="updateApp" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/app/{appid}/delete">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="appid" style="template" type="xs:int"/>
                <method id="deleteApp" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="testdevices">
            <resource path="/publisher/{publisherid}/testdevice">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="publisherid" style="template" type="xs:int"/>
                <method id="getTestDevicesByPublisher" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="createTestDevice" name="POST">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/publisher/{publisherid}/testdevice/{testdeviceid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="testdeviceid" style="template" type="xs:int"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="publisherid" style="template" type="xs:int"/>
                <method id="updateTestDevice" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="deleteTestDevice" name="DELETE">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/selfserveparentcampaign">
            <resource path="/advertiser/{advertiserid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="advertiserid" style="template" type="xs:int"/>
                <method id="createSelfServeParentCampaign" name="POST">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="getSelfServeCamapignsForAdvertiser" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/archive">
                <method id="archiveParentCampaigns" name="POST">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="archive" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="clientId" style="query" type="xs:int"/>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{parentcampaignid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="parentcampaignid" style="template" type="xs:int"/>
                <method id="getSelfServeParentCampaign" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="updateSelfServeParentCampaign" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="deleteSelfServeParentCampaign" name="DELETE">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/search">
                <method id="getSelfServeCamapignsFiltered" name="POST">
                    <request>
                        <representation mediaType="*/*"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/status">
                <method id="updateSelfServeParentCampaignStatus" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="advertiserreport">
            <resource path="/advertiser/{advertiserid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="advertiserid" style="template" type="xs:int"/>
                <method id="getAdvertiserReportJson" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="indexValue" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reportingUnit" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="startDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="endDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="segment" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="parentReportingUnit" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataDaily" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataOnly" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="timeZoneString" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="page" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="limit" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="orderBy" style="query" type="xs:string" default="name"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="asc" style="query" type="xs:string" default="desc"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="excludeCategories" style="query" type="xs:string" default="none"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="status" style="query" type="xs:string" default="All"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="getAdvertiserReportCSV" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="indexValue" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reportingUnit" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="startDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="endDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="segment" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="parentReportingUnit" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataDaily" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataOnly" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="timeZoneString" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="orderBy" style="query" type="xs:string" default="name"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="asc" style="query" type="xs:string" default="desc"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="excludeCategories" style="query" type="xs:string" default="none"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="status" style="query" type="xs:string" default="All"/>
                    </request>
                    <response>
                        <representation mediaType="text/csv"/>
                    </response>
                </method>
                <method id="getAdvertiserReportExcel" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="indexValue" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reportingUnit" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="startDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="endDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="segment" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="parentReportingUnit" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataDaily" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataOnly" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="timeZoneString" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="orderBy" style="query" type="xs:string" default="name"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="asc" style="query" type="xs:string" default="desc"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="excludeCategories" style="query" type="xs:string" default="none"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="status" style="query" type="xs:string" default="All"/>
                    </request>
                    <response>
                        <representation mediaType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                    </response>
                </method>
            </resource>
            <resource path="/advertiser/richmedia/{advertiserid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="advertiserid" style="template" type="xs:int"/>
                <method id="getAdvertiserReportJson" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="indexValue" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reportingUnit" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="startDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="endDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="expandBy" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataDaily" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataOnly" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="timeZoneString" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="external" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="status" style="query" type="xs:string" default="All"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/mobileinsight/">
                <method id="getMobileInsightJson" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="indexId" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="indexValue" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="mobileInsightDimension" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="orderBy" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="startDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="endDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="dataDaily" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="timeZoneString" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="status" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/clients/{clientid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="clientid" style="template" type="xs:int"/>
                <method id="getClientAdvertiserReport" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reportingUnit" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="startDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="endDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="segment" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="parentReportingUnit" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataDaily" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataOnly" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="timeZoneString" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="page" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="limit" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="orderBy" style="query" type="xs:string" default="name"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="asc" style="query" type="xs:string" default="desc"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="excludeCategories" style="query" type="xs:string" default="none"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="status" style="query" type="xs:string" default="All"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="getClientAdvertiserReportExcel" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reportingUnit" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="startDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="endDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="segment" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="parentReportingUnit" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataDaily" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataOnly" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="timeZoneString" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="page" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="limit" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="orderBy" style="query" type="xs:string" default="name"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="asc" style="query" type="xs:string" default="desc"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="excludeCategories" style="query" type="xs:string" default="none"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="status" style="query" type="xs:string" default="All"/>
                    </request>
                    <response>
                        <representation mediaType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                    </response>
                </method>
                <method id="getClientAdvertiserReportCSV" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reportingUnit" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="startDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="endDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="segment" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="parentReportingUnit" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataDaily" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataOnly" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="timeZoneString" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="page" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="limit" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="orderBy" style="query" type="xs:string" default="name"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="asc" style="query" type="xs:string" default="desc"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="excludeCategories" style="query" type="xs:string" default="none"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="status" style="query" type="xs:string" default="All"/>
                    </request>
                    <response>
                        <representation mediaType="text/csv"/>
                    </response>
                </method>
            </resource>
            <resource path="/clients/all">
                <method id="getClientAdvertiserReport" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="startDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="endDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="segment" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="parentReportingUnit" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataDaily" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataOnly" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="timeZoneString" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="page" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="limit" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="orderBy" style="query" type="xs:string" default="name"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="asc" style="query" type="xs:string" default="desc"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="excludeCategories" style="query" type="xs:string" default="none"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="status" style="query" type="xs:string" default="All"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="getClientAdvertiserReportExcel" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="startDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="endDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="segment" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="parentReportingUnit" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataDaily" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataOnly" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="timeZoneString" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="page" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="limit" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="orderBy" style="query" type="xs:string" default="name"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="asc" style="query" type="xs:string" default="desc"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="excludeCategories" style="query" type="xs:string" default="none"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="status" style="query" type="xs:string" default="All"/>
                    </request>
                    <response>
                        <representation mediaType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                    </response>
                </method>
                <method id="getClientAdvertiserReportCSV" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="startDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="endDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="segment" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="parentReportingUnit" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataDaily" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="graphDataOnly" style="query" type="xs:boolean"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="timeZoneString" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="page" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="limit" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="orderBy" style="query" type="xs:string" default="name"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="asc" style="query" type="xs:string" default="desc"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="excludeCategories" style="query" type="xs:string" default="none"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="status" style="query" type="xs:string" default="All"/>
                    </request>
                    <response>
                        <representation mediaType="text/csv"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="clientcampaign/publisher/advertiser/io/pc">
            <resource path="/{parentcampaignid}/creative">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="parentcampaignid" style="template" type="xs:int"/>
                <method id="createCreative" name="POST">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/creative/{creativeid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="creativeid" style="template" type="xs:int"/>
                <method id="updateCreative" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="deleteCreative" name="DELETE">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="clientcampaign">
            <resource path="/user">
                <method id="validateUser" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="resetUser" name="POST">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/user/impersonation/{targetusername}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="targetusername" style="template" type="xs:string"/>
                <method id="validateUserForImpersonation" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="asUser" style="query" type="xs:boolean"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/user/impersonation">
                <method id="getImpersonationUsers" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="start" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="limit" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="query" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/mpo">
            <resource path="/siteskew/{productId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="productId" style="template" type="xs:int"/>
                <method id="getAllSiteSkews" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="clientcampaign/publisher/{publisherid}/site">
            <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="publisherid" style="template" type="xs:int"/>
            <method id="getSites" name="GET">
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="earnings/publisher">
            <resource path="/{publisherid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="publisherid" style="template" type="xs:int"/>
                <method id="getEarnings" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="year" style="query" type="xs:int"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/countries">
            <method id="getCountries" name="GET">
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="/{countryCode}/states/{code}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="countryCode" style="template" type="xs:string"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="code" style="template" type="xs:string"/>
                <method id="getState" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{countryCode}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="countryCode" style="template" type="xs:string"/>
                <method id="getCountry" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{countryCode}/states">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="countryCode" style="template" type="xs:string"/>
                <method id="getStates" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/util/Logging">
            <method id="getLoggers" name="GET">
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="/{loggername}/handlers">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="loggername" style="template" type="xs:string"/>
                <method id="handlers" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{loggername}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="loggername" style="template" type="xs:string"/>
                <method id="loggerSave" name="PUT">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="targetLevelOverride" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="targetLevel" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="*/*"/>
                    </response>
                </method>
                <method id="loggerGet" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{loggername}/handlers/{targetHandler}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="targetHandler" style="template" type="xs:string"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="loggername" style="template" type="xs:string"/>
                <method id="handlerGet" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="handlerSave" name="PUT">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="targetLevelOverride" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="targetLevel" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="*/*"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="tc">
            <method id="getUserTCs" name="GET">
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="/{tcname}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="tcname" style="template" type="xs:string"/>
                <method id="getUserTC" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/content/{tcname}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="tcname" style="template" type="xs:string"/>
                <method id="getTCContent" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{tcname}/{tcversion}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="tcname" style="template" type="xs:string"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="tcversion" style="template" type="xs:string"/>
                <method id="acceptUserTC" name="POST">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/user/{username}/{tcname}/{tcversion}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="username" style="template" type="xs:string"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="tcname" style="template" type="xs:string"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="tcversion" style="template" type="xs:string"/>
                <method id="acceptUserTC" name="POST">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="earningsYears/publisher">
            <resource path="/{publisherid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="publisherid" style="template" type="xs:int"/>
                <method id="getEarnings" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="notification">
            <method id="getNotifications" name="GET">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="page" style="query" type="xs:string" default="0"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="start" style="query" type="xs:string" default="0"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="limit" style="query" type="xs:string" default="1000"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="createdby" style="query" type="xs:string"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="name" style="query" type="xs:string"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="orderby" style="query" type="xs:string" default="id"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="asc" style="query" type="xs:boolean" default="false"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <method id="createNotification" name="POST">
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="/params">
                <method id="getNotificationParams" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{messageid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="messageid" style="template" type="xs:int"/>
                <method id="getNotification" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="updateNotification" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method id="deleteNotification" name="DELETE">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/user">
                <method id="getNotificationsUser" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="displayType" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="priority" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="start" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="limit" style="query" type="xs:int"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/user/{messageuserid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="messageuserid" style="template" type="xs:int"/>
                <method id="updateNotificationsUser" name="PUT">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
