test.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:application xmlns:ns2="http://wadl.dev.java.net/2009/02"><ns2:doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 1.17 01/17/2013 03:31 PM"/><ns2:doc title="Hello World API" xml:lang="en">
        This document contains all of the operations available from the Hello World service.
    </ns2:doc><ns2:grammars><ns2:include href="application.wadl/xsd0.xsd"><ns2:doc title="Generated" xml:lang="en"/></ns2:include></ns2:grammars><ns2:resources base="http://localhost.com:9876/hello/"><ns2:resource path="/hello"><ns2:doc>Hello Operations</ns2:doc><ns2:method id="sayHello" name="GET"><ns2:doc>Say Hello</ns2:doc><ns2:response><ns2:representation element="helloModel" mediaType="application/json"/></ns2:response></ns2:method><ns2:method id="createHello" name="POST"><ns2:doc>Sample post service call. Echos the posted object.</ns2:doc><ns2:request><ns2:representation element="helloModel" mediaType="*/*"/></ns2:request><ns2:response><ns2:representation element="helloModel" mediaType="application/json"/></ns2:response></ns2:method><ns2:method id="updateHello" name="PUT"><ns2:doc>Sample update service call. Echos the posted object.</ns2:doc><ns2:request><ns2:representation element="helloModel" mediaType="*/*"/></ns2:request><ns2:response><ns2:representation element="helloModel" mediaType="application/json"/></ns2:response></ns2:method><ns2:method id="goodbye" name="DELETE"><ns2:doc>Sample delete service call. Return 'Goodbye!' as a string.</ns2:doc><ns2:response><ns2:representation mediaType="text/plain"/></ns2:response></ns2:method><ns2:resource path="/{name}"><ns2:param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="name" style="template" type="xs:string"><ns2:doc>The name of the person you would like to greet</ns2:doc></ns2:param><ns2:method id="sayHelloTo" name="GET"><ns2:doc>Pass a name into this function to personalize your hello</ns2:doc><ns2:response><ns2:representation element="helloModel" mediaType="application/json"/></ns2:response></ns2:method></ns2:resource></ns2:resource></ns2:resources></ns2:application>
